.photo-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
}

.photo-div > .closeButton {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: large;
    color: white;
    background-color: transparent;
    border-color: transparent;
}